@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

:root {
  --bg: #181818;
  --bg2: #2f2f2f;
  --light: #e2dfd0;
  --primary: #d5ccee;

  --spacing: 1rem;
  
}

/* Colors */
html {
  background-color: var(--bg);
  color: var(--light) !important;
  @apply mx-auto w-11/12;
  /* @apply bg-gradient-to-t from-gray-800; */
}

/* Typography */

body {
  font-family: 'Public Sans', system-ui, sans-serif;
}

h1, h2, h3, h4, p {
  @apply max-w-prose;
}

h1 {
  @apply text-3xl md:text-4xl leading-tight mb-3;
  @apply lg:text-5xl lg:w-4/5
}

h2 {
  @apply text-2xl md:text-3xl font-medium mb-3;
}

h3 {
  @apply text-xl md:text-2xl font-medium mb-3;
}

h4 {
  @apply text-lg font-light leading-relaxed mb-3;
  @apply lg:text-xl;
}

p {
  @apply prose-lg font-light;
}

/*
ul > li {
	position: relative;
    padding-left: 1.75em;
}

li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul > li > :first-child {
    margin-top: 1.25em;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #d2d6dc;
}*/

/* Links */

a {
	text-decoration: underline;
}

a:hover {
  opacity: .7;
}


/* Buttons */

.btn-outline {
  @apply px-4 py-1 rounded-full no-underline;
  border: 1px solid var(--light);
  color: var(--light);
}

.btn-outline:hover, .btn-small:hover {
  background-color: var(--light);
  color: var(--bg);
}

.btn-small {
	@apply px-4 py-1 text-sm rounded text-center no-underline;
	border: 1px solid var(--light);
  	color: var(--light);
}

/* PAGE SECTIONS*/

/* Nav */

nav a {
  @apply no-underline hover:no-underline;
  /* opacity: 50%; */
}

nav a:hover {
  opacity: 100%;
}

nav ul {
	list-style: none;
}

.logo {
  @apply text-xl;
  opacity: 100%;
}

.logo:hover {
  color: var(--primary);
}

/* Footer */

.wcb-d {
  text-align: right !important;
}

/* Sections */

section {
	@apply my-20;
}

/* Work */

.cases {
  @apply w-full grid grid-cols-2 md:grid-cols-3 gap-8 my-8;
}

.card {
  @apply flex flex-col rounded transition duration-200 ease-in no-underline shadow;
  background-color: var(--bg2);
}

.card:hover {
  @apply md:transform md:-translate-y-2 shadow-lg;
  opacity: 1;
}

/* Services */

.services ul {
  list-style: outside;
  @apply ml-4 mt-4 leading-relaxed;
  
}

/* Blog */

ul {
  list-style: initial;
}

/* Tags */

.tag {
  @apply text-sm rounded mt-3 mr-2 py-1 px-2 inline-block no-underline;
  border: solid 1px var(--light);
}

.tag p {
	text-decoration: none;
}
/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
	color: var(--light);
}
