@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

/* Colors */


/* Typography */

h1 {
  @apply text-4xl mb-3 text-center lg:text-7xl;
}

h2 {
  @apply text-3xl font-medium mb-3;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

h4 {
  @apply text-xl leading-relaxed mb-3;
}

/* Links */

a {
  @apply font-semibold hover:underline;
}


/* Hero */

.hero {
  background-image: url("/static/img/orthographicBoxes.0.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}