<main class="cases">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
                
            <a class="card" href="{{item.url}}">
                <div class="card-title">
                   
                        <h3>{{item.title}}</h3>
                        <p>{{item.desc}}</p>
           
                    <!-- {% if item.tags %}
                    <div class="flex flex-wrap">
                        {% for tag in item.tags %}   
                            <p class="text-sm rounded mt-3 mr-2 py-1 px-2 inline-block text-gray-500 border-solid border border-indigo-200">
                                {{ tag }}
                            </p>
                        {% endfor %}
                    </div>
                    {% endif %} -->
                </div>
                <div class="">
                    <img src="{{item.image}}" class="">
                </div>
            </a>
            
              
        {% endfor %}

    {% endif %}

    {% include "projectslist.html" %}


</main>