<main class="cases">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
                
            <div class="card">
                <div class="w-full rounded-t">
                    <img src="{{item.image}}" class="rounded-t">
                </div>
                <div class="p-4 flex flex-col flex-grow">
                    
                    <h3>{{item.title}}</h3>
                    {% if item.tags %}
                    <div class="flex flex-wrap space-x-2 opacity-75">
                        {% for tag in item.tags %}   
                            <p class="text-xs">
                                {{ tag }}
                            </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <p class="text-base leading-normal mb-auto">{{item.desc}}</p>
        

                    <div class="flex space-x-4 mt-4 flex-end justify-between">
                        {% if item.url %}
                            <a href="{{item.url}}" target="_blank" rel="noreferrer" class="btn-small flex-grow">Go to Website</a>
                        {% endif %}
                        {% if item.projecturl %}
                        <a href="{{item.projecturl}}" class="btn-small flex-grow">Process</a>
                        {% endif %}
                        {% if item.wip %}
                        <p class="text-sm flex-grow border-t border-light pt-1">{{item.wip}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            
              
        {% endfor %}

    {% endif %}

    {% include "projectslist.html" %}


</main>