<footer class="bottom-0 w-full py-4 spacing">

    <div id="contact" class="grid mx-auto sm:grid-cols-2 md:grid-cols-3 justify-between">
        <a class="px-16" href="mailto: {{ settings.meta.email }} "> {{settings.email}} </a>
        <a class="px-16" href="#" target="_blank" rel="noreferrer noopener"> Calendly</a>
        <a class="px-16" href="#">LinkedIn</a>
        <a class="px-16" href="#">Dribbble</a>
        <a class="px-16" href="#">Are.na</a>
        <a class="px-16" href="#">Instagram</a>
    </div>

    <div class="text-center">
        <small class="text-gray-500">Copyright ©
            {{settings.name}}
            2020. Made with ❤ by
            <a href="{{settings.meta.url}}" target="_blank" class="underline">{{settings.author}}</a>
            •
            <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">View on Github</a>
        </small>
    </div>
</footer>